label {
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    margin-bottom: 10px;
}

.salutation {
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
    margin-bottom: 50px;
}

.input {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
}

button {
    width: 70px;
    height: 30px;
    font-size: 75%;
    background-color: black;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    margin-top: 20px;
}

button:focus{
    outline: none;
}